.autocomplete {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
}
.autocomplete input[type='text'] {
  background: #F5F5F5;
  color: #000;
  border: 1px solid #DDD;
  padding: 3px 6px;
  border-radius: 3px;
  width: 15em;
  height: 2em;
}
.autocomplete .results {
  position: absolute;
  border: 1px solid #DDD;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  color: #000;
  padding: 3px 6px;
  border-radius: 3px;
  box-sizing: border-box;
}

.autocomplete .results tbody tr {
  border-bottom: 1px solid #DDD;
}