nav {
  height: 100%;
  width: 1000px;
  max-width: 3em;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  
  background-color: #F5F5F5;
  border-right: 1px solid #DDD;

  white-space: nowrap;
  overflow: hidden;
  
  font-size: 18px;
  
  transition: max-width 0.25s ease;
}

nav:hover {
    max-width: 10em;
}

nav a.active {
    background-color: #CCC !important;
    color: #5058c3 !important;
}

nav a.active:before {
    content: '';
    width: 5px;
    background-color: #5058c3;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

nav a:hover {
    background-color: #DDD;
    color: #5058c3;
}

nav a {
  padding: 0.5em;
  color: #888;
  display: block;
  position: relative;
}

nav a > i {
    text-align: center;
    width: 2em;
    margin: 0;
    vertical-align: middle;
}

nav a, nav a * {
    cursor: pointer;
}

nav a > p {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 6em;
  vertical-align: middle;
  letter-spacing: 0.025em;
  
}

