spinner {
  height: 100px;
  width: 100px;
  display: block;
}
spinner:after {
  box-sizing: border-box;
}
spinner.loading_01:after {
  content: " ";
  height: 100%;
  width: 100%;
  display: block;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  border-radius: 50%;
  animation: loading_01 1s linear infinite;
}

@keyframes loading_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}