* {
  font-family: calibri, sans-serif;
}

body {
  margin: 0;
}

#main {
  /* width:100%; */

  padding: 1em;
  padding-left: 4.5em;
  max-width: 1600px;
  margin: auto;
  
}
#main > h1 {
  display: inline-block;
}

a {
  text-decoration: none;
}

btn, .btn {
  /* min-height: 1em; */
  min-width: 1em;
  min-height: 1em;
  padding: 0.5em;
  margin: 0.1em;
  background: #F5F5F5;
  border-radius: 0.5em;
  border: 1px #a9a9a9 solid;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
btn:hover, .btn:hover {
  background: #CCC;
}

btn.active, .btn.active {
  background: #CCC;
}


table.dataTable {
  border-collapse: collapse;
  width: 100%;
}
table.dataTable thead tr {
  background: #F5F5F5;
  border-bottom: 1px solid black;
}
table.dataTable td {
  padding: 0.25em 1em 0.25em 1em;
}
table.dataTable thead tr td:first-child {
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
}

table.dataTable thead tr td:last-child {
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
}

table.dataTable tbody tr {
  background: #FFF;
}
table.dataTable tbody tr:nth-child(even) {
  background: #F5F5F5;
}

table.dataTable tr.notInPage {
  display: none !important;
}