.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  pointer-events: none;
  
  width: 120px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
 
  opacity: 0;
  transition: opacity 0.5s;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}