<h1>BLACKLIST</h1>
<hr>
<div>
  <div id='blacklistSearch'>
    <div class='autocomplete'>
      <input type='text' placeholder='Search'></input>
      <table class='results' style="display: none;"></table>
    </div>
  </div>
  <table class='dataTable' id='blacklistDisplay'></table>
</div>